body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery/a89abd8eb671e1f676eabe8cebaa5267.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 640px; }
.root { width: 992px; height: 640px; overflow: visible; }
#wb_element_instance15 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; z-index: 48; }
#wb_element_instance16 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 49; }
#wb_element_instance17 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; z-index: 52; }
#wb_element_instance18 { left: 0px; top: 117px; display: block; z-index: 9000; }
#wb_element_instance19 { left: 0px; top: 137px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 640px; }
	.root { width: 992px; height: 640px; overflow: visible; }
	#wb_element_instance15 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance16 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance17 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 640px; }
	.root { width: 992px; height: 640px; overflow: visible; }
	#wb_element_instance15 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance16 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance17 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 640px; }
	.root { width: 992px; height: 640px; overflow: visible; }
	#wb_element_instance15 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance16 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance17 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; }
}
