#wb_header { background: transparent none repeat scroll left top; height: 117px; }
#wb_header { height: 117px; }
#wb_main { background: transparent none repeat scroll left top; height: 340px; padding: 0 0 50px 0; }
#wb_main { height: 340px; }
#wb_footer { background: transparent none repeat-x scroll center bottom; height: 133px; }
#wb_footer { height: 133px; }
body { background: transparent url("../gallery/06924651e359592af9bfb2463635d2a1.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery/a89abd8eb671e1f676eabe8cebaa5267.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 2957px; }
.root { width: 992px; height: 2957px; overflow: visible; }
#wb_element_instance0 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; z-index: 48; }
#wb_element_instance1 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 49; }
#wb_element_instance2 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; z-index: 52; }
#wb_element_instance3 { left: 460px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; z-index: 50; }
#wb_element_instance3 a span { padding: 4px 0px 0px 0px; }
#wb_element_instance3 a { width: 98px; height: 28px; }
#wb_element_instance3 a { font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #f5f5f5 none repeat scroll left top; }
#wb_element_instance3 a:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance3 a:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance4 { left: 630px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; z-index: 51; }
#wb_element_instance4 a span { padding: 4px 0px 0px 0px; }
#wb_element_instance4 a { width: 98px; height: 28px; }
#wb_element_instance4 a { font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #f5f5f5 none repeat scroll left top; }
#wb_element_instance4 a:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance4 a:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance5 { left: 788px; top: 40px; min-width: 170px; width: 170px; min-height: 30px; height: 30px; display: block; z-index: 52; }
#wb_element_instance5 a span { padding: 4px 0px 0px 0px; }
#wb_element_instance5 a { width: 168px; height: 28px; }
#wb_element_instance5 a { font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #f5f5f5 none repeat scroll left top; }
#wb_element_instance5 a:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance5 a:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance6 { left: 100px; top: 20px; min-width: 310px; width: 310px; min-height: 292px; height: 292px; display: block; z-index: 43; }
#wb_element_instance7 { left: 460px; top: 0px; min-width: 520px; width: 520px; min-height: 340px; height: 340px; display: block; z-index: 48; }
#wb_element_instance8 { left: 0px; top: 360px; display: block; z-index: 9000; }
#wb_element_instance9 { left: 0px; top: 84px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 117px; }
	#wb_main { height: 340px; }
	#wb_footer { height: 133px; }
	body, .wb_sbg { min-width: 992px; min-height: 640px; }
	.root { width: 992px; height: 640px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance1 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { left: 460px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance3 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance3 a { width: 98px; height: 28px; }
	#wb_element_instance4 { left: 630px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance4 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance4 a { width: 98px; height: 28px; }
	#wb_element_instance5 { left: 788px; top: 40px; min-width: 170px; width: 170px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance5 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance5 a { width: 168px; height: 28px; }
	#wb_element_instance6 { left: 100px; top: 20px; min-width: 310px; width: 310px; min-height: 292px; height: 292px; display: block; }
	#wb_element_instance7 { left: 460px; top: 0px; min-width: 520px; width: 520px; min-height: 340px; height: 340px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 117px; }
	#wb_main { height: 340px; }
	#wb_footer { height: 133px; }
	body, .wb_sbg { min-width: 992px; min-height: 640px; }
	.root { width: 992px; height: 640px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance1 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { left: 460px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance3 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance3 a { width: 98px; height: 28px; }
	#wb_element_instance4 { left: 630px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance4 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance4 a { width: 98px; height: 28px; }
	#wb_element_instance5 { left: 788px; top: 40px; min-width: 170px; width: 170px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance5 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance5 a { width: 168px; height: 28px; }
	#wb_element_instance6 { left: 100px; top: 20px; min-width: 310px; width: 310px; min-height: 292px; height: 292px; display: block; }
	#wb_element_instance7 { left: 460px; top: 0px; min-width: 520px; width: 520px; min-height: 340px; height: 340px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 117px; }
	#wb_main { height: 340px; }
	#wb_footer { height: 133px; }
	body, .wb_sbg { min-width: 992px; min-height: 640px; }
	.root { width: 992px; height: 640px; overflow: visible; }
	#wb_element_instance0 { left: 0px; top: 13px; min-width: 270px; width: 270px; min-height: 63px; height: 63px; display: block; }
	#wb_element_instance1 { left: 30px; top: 73px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 20px; top: 40px; min-width: 338px; width: 338px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { left: 460px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance3 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance3 a { width: 98px; height: 28px; }
	#wb_element_instance4 { left: 630px; top: 40px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance4 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance4 a { width: 98px; height: 28px; }
	#wb_element_instance5 { left: 788px; top: 40px; min-width: 170px; width: 170px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance5 a span { padding: 4px 0px 0px 0px; }
	#wb_element_instance5 a { width: 168px; height: 28px; }
	#wb_element_instance6 { left: 100px; top: 20px; min-width: 310px; width: 310px; min-height: 292px; height: 292px; display: block; }
	#wb_element_instance7 { left: 460px; top: 0px; min-width: 520px; width: 520px; min-height: 340px; height: 340px; display: block; }
}
